argcomplete==3.5.3
asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
colorama==0.4.6
commitizen==3.31.0
comtypes==1.4.11
decli==0.6.3
Django==5.0.14
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mssql-django==1.5
packaging==25.0
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg==3.2.9
Pygments==2.19.2
pyodbc==5.2.0
pytest==8.4.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.4
setuptools==57.0.0
sqlparse==0.5.3
termcolor==2.5.0
tomlkit==0.13.3
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.13
wheel==0.36.2
