asgiref==3.8.1
azure-core==1.34.0
azure-storage-blob==12.25.1
bootstrap4==0.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
dj-database-url==3.0.1
Django==5.0.14
django-storages==1.14.6
idna==3.10
isodate==0.7.2
mssql-django==1.5
pycparser==2.22
pyodbc==5.2.0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
