{% extends "base.html" %}
{% block title %}
    Task Lists
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            {% include "taskmanager/_header.html" %}
        </div>
        <div class="card-body">
            <h2>Task Lists</h2>
            <ul>
                {% for task in tasks %}
                    <li>
                        {{ task.title }} - {{ task.description }}
                    </li>
                {% empty %}
                    <li>No tasks available.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            {% include "taskmanager/_footer.html" %}
        </div>
    </div>
</div>
{% endblock %}