{% extends "taskmanager/base.html" %}

{% block header %}
    <h2>Task List</h2>
{% endblock %}


{% block page_content %}
<section class="container">
    <ul class="list-group">
    {% for task in tasks %}
        <li>
            <a href="{% url 'taskmanager:task-detail' task.id %}">{{ task.title }}</a>: {{ task.status }}
        </li>
    {% empty %}
        <li>No tasks available.</li>
    {% endfor %}
        </ul>
</section>
{% endblock %}

{% block footer_content %}
    {% include "taskmanager/_footer.html" %} 
{% endblock %}