{% extends "taskmanager/tm_base.html" %}

{% block extra_content %}
    <p>This is the landing page for the task manager that I am building. I am following along the exercises from the following book:</p>
    <blockquote cite="https://perlego.com/book/4334336/ultimate-django-for-web-app-development-using-python-build-modern-reliable-and-scalable-productiongrade-web-applications-with-django-and-python-pdf/?utm_medium=share&utm_source=perlego&utm_campaign=share-book">  Lazzaro, L. (2024) Ultimate Django for Web App Development Using Python. [edition unavailable]. Orange Education Pvt Ltd. Available at: https://www.perlego.com/book/4334336 (Accessed: 15 July 2025).</blockquote>
{% endblock %}