.centered-container {
  margin: 0 auto 3rem auto;
  max-width: 800px;
  width: 100%;
  padding: 2rem 2.5vw;
  text-align: center;
}


@media (max-width: 850px) {
  .centered-container {
    max-width: 98vw;
    padding: 1rem 2vw;
  }
}
.centered-container ul {
  list-style: none;
  padding-left: 0;
}
