<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            {% include 'homepage/_employment.html' %}
        </div>
        <div class="col-lg-10">
            {% include 'homepage/_education.html' %}
        </div>
        <div class="col-lg-10">
            {% include 'homepage/_skills.html' %}
        </div>
        <div class="col-lg-10">
            {% include 'homepage/_certifications.html' %}
        </div>
    </div>
</div>