<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <p class="lead">
                Hi, I am Syafiq. Welcome to my personal website, where I document my journey into the world of computing and technology. Currently, I'm diving deep into web development using the Django framework, exploring how to build robust, scalable, and modern web applications.
            </p>
            <p class="lead">
                Here, you'll find my experiments, tutorials, and thoughts on programming, software engineering, and the latest trends in tech. Whether you're a fellow learner or just curious, I hope you find something useful or inspiring. Feel free to browse around, connect, and join me as I continue to grow and share my experiences. in this exciting field!
            </p>
        </div>
    </div>
</div>