{% extends "homepage/base.html" %}
{% block header %}
    <h1 class="display-4 text-center">Syafiq Kay, MPharm, MRPharmS, GDL, CMHP</h1>
{% endblock %}
{% block title %}SK | Homepage{% endblock %}
{% block content %}
    <div class="container">
        <section>
            <!-- Rirekisho Section -->
            {% include "homepage/_rirekisho.html" %}
        </section>
        <hr class="my-5">
        <section>
            <!-- cv Section -->
            {% include "homepage/_cv.html" %}
        </section>
    </div>
{% endblock %}