{% extends "templates/base.html" %}

<h2>Welcome to the Task Manager application!</h2>

{% block page_content %}
    <p>This is the landing page for the task manager that I am building. I am following along the exercises from the following book:</p>
    <blockquote>  Lazzaro, L. (2024) Ultimate Django for Web App Development Using Python. [edition unavailable]. Orange Education Pvt Ltd. Available at: https://www.perlego.com/book/4334336 (Accessed: 15 July 2025).</blockquote>
    <p>In this application, you can create, view, and manage tasks efficiently.</p>
    <p>Use the navigation menu to explore different features of the task manager.</p>
{% endblock %}