{% extends "task_manager_base/task_manager_base.html" %}
{% load i18n %}

{% block header %}
    <h1>{{ task.title }}</h1>
{% endblock %}

{% block page_content %}
    <p><strong>{% trans "Description:" %}</strong> {{ task.description }}</p>
    <p><strong>{% trans "Status:" %}</strong> {{ task.status }}</p>
{% endblock %}

{% block footer_content %}
    <a href="{% url 'taskmanager:task-update' task.id %}" class="btn btn-danger">{% trans "Edit Task" %}</a> 
    <a href="{% url 'taskmanager:task-delete' task.id %}" class="btn btn-danger">{% trans "Delete Task" %}</a> 
    <a href="{% url 'taskmanager:task-list' %}" class="btn btn-secondary">{% trans "Back to Task List" %}</a>
{% endblock %}