{% extends 'index.html' %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-1">410</h1>
    <p class="lead">Gone! This resource has departed on a spiritual journey and will not return.<br>
    Like a monk who has ascended to higher planes, it has left this digital realm forever, seeker.</p>
    <p class="mt-3 text-muted">消失！このリソースは精神的な旅に出発し、戻ることはありません。<br>
    より高い次元に昇天した僧侶のように、このデジタル領域を永遠に去りました、探求者よ。</p>
    <a href="/" class="btn btn-primary mt-3">Go Home</a>
</div>
{% endblock %}
