{% load static %}
{% load i18n %}
<footer class="text-center text-white bg-secondary">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white disabled">Coming Soon</a>
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white disabled">Coming Soon</a>
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white disabled">Coming Soon</a>
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white disabled">Coming Soon</a>
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'admin:index' %}" class="text-white "><i class="fa-solid fa-gear"></i> Admin</a>
                    </h6>
                </div>
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->
        <hr class="my-5" />
        <!-- Section: Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h6 class="text-uppercase font-weight-bold mb-4">Disclaimer</h6>
                    <p>
                        The information presented here is intended solely for personal reference and general interest. 
                        It does not constitute clinical, legal, or professional advice, and should not be relied upon in such contexts. 
                        No guarantees or warranties, express or implied, are provided regarding the accuracy or completeness of the content.
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->
        <!-- Section: Social -->
        <section class="text-center mb-5" style="gap: 2rem; display: flex; justify-content: center;">
            <a href="https://www.linkedin.com/in/syafiqkay/" target="_blank" rel="noopener" class="text-white me-4">
                <i class="fab fa-linkedin fa-3x"></i>
            </a>
            <a href="https://github.com/skay93m" target="_blank" rel="noopener" class="text-white me-4">
                <i class="fab fa-github fa-3x"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3">
        <p>Made with Django, <i class="fa-brands fa-python"></i> Python, <i class="fa-brands fa-bootstrap"></i> Bootstrap, <i class="fa-brands fa-font-awesome"></i> Font Awesome, and <i class="fa-brands fa-docker"></i> Docker. More to come ...</p>
        <p>
            <i class="fa-solid fa-copyright"></i> {% now "Y" %} Syafiq Kay{% comment %}, MPharm, MRPharmS, GDL, CMHP{% endcomment %} |
            <a class="text-white text-decoration-none" href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a>
        </p>
    </div>
</footer>