{% load static %}
<section class="text-light bg-dark">
    <div class="container py-5">
        <div class="row gy-5">
            <div class="col-sm-6 col-lg-4 mw-lg-2">
                <div class="lc-block mb-4 ">
                    <a class="navbar-brand" href="#">
                        Syafiq Kay, MPharm, MRPharmS, GDL, CMHP
                    </a>
                </div>
                <div class="lc-block text">
                    <p class="mb-1">&copy; {% now "Y" %} Syafiq Kay</p>
                    <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener" class="text-decoration-none text-white-50 hover-link"><i class="fas fa-gavel me-1"></i> MIT License</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 ms-lg-auto">
                <!-- First Column: Primary Menu -->
                <div class="lc-block">
                    <h4 class="fs-6 fw-bold">Connect</h4>
                    <ul class="nav d-flex gap-2">
                        <!-- Loop to display the Primary Menu -->
                        <li class="nav-item"><a href="https://www.linkedin.com/in/syafiqkay/" class="btn btn-outline-light" target="_blank" rel="noopener"><i class="fab fa-linkedin me-1"></i> LinkedIn</a></li>
                        <li class="nav-item"><a href="https://github.com/skay93m" class="btn btn-outline-light" target="_blank" rel="noopener"><i class="fab fa-github me-1"></i> GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Secondary Menu -->
                <div class="lc-block">
                    <h4 class="fs-6 fw-bold">Quick Links</h4>
                    <ul class="nav flex-column">
                        <!-- Loop to display the Primary Menu -->
                        <li class="nav-item">
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <!-- Secondary Menu -->
                <div class="lc-block">
                    <h4 class="fs-6 fw-bold">Resources</h4>
                    <ul class="nav flex-column">
                        <!-- Loop to display the Primary Menu -->
                        <li class="nav-item">
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light ps-0" href="#">
                                coming soon
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>