<!DOCTYPE html>
<html lang="en" xml:lang="en-ja">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome | syafiqkay.com{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <header>
    <nav>
      <div>
        <ul style="list-style: none; padding: 0; display: flex; justify-content: center;">
          <li style="margin-right: 3rem;"><a href="{% url 'homepage:homepage' %}">Home</a></li>
          <li style="margin-right: 3rem;"><a href="{% url 'journals:coming_soon' %}">ジャーナル / Journal</a></li>
          <li style="margin-right: 3rem;"><a href="{% url 'notoGarden:coming_soon' %}">ノート / Notes</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div style="text-align: center;">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer>
    <div style="text-align: center;">
      <p>&copy; {{ now|date:"Y" }} Syafiq Kay ｜ 全ての権利を保有しています。</p>
      <p>
        Licensed under the 
        <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a> ｜ このサイトのコードは 
        <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MITライセンス</a> のもとで公開されています。
      </p>
    </div>
  </footer>

</body>
</html>
