<nav class="navbar navbar-expand-sm">
    <div class="container a4-width">
        <a class="navbar-brand bright-blue" href="{% url 'homepage:homepage' %}">Syafiq Kay</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bright-blue" href="{% url 'journals:coming_soon' %}">ジャーナル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bright-blue" href="{% url 'noto_garden:coming_soon' %}">ノート</a>
            </li>
        </ul>
    </div>
</nav>